<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Email Verification</h1>
<form id="emailForm">
    <label for="email">Enter your email:</label>
    <input type="email" id="email" required />
    <button type="submit" id="getEmail">Get Email Data</button>
    <button type="button" id="sendEmail">
        Send Verification Email
    </button>
    <button type="button" id="getOAuthURL">Get OAuth URL</button>
</form>
<h2>Login Section</h2>
<form id="loginForm">
    <label for="loginEmail">Email:</label>
    <input type="email" id="loginEmail" required />
    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" required />
    <button type="submit">Login</button>
</form>
<script src="/index.js"></script>
</body>
</html>